.mybackground
{
	background-image: url("manage_req_background.jpg");
	background-repeat:no-repeat;
   	background-size:cover;
}

.NotificationsContainer
{
	width: 800px;
  	margin: 0 auto;
}

.glyphicon {
    font-size: 30px;
}